@charset "UTF-8";
/* CSS Document */

/* Contacts */

.contacts
{
	display: inline-block;
	position: fixed;
	bottom: 3%;
	left: 0px;
	width: 15%;
}

.contacts p
{
	margin: 0.8em;
	font-size: 0.6em;
	color: grey;
	font-family: Arial, Verdana, sans-serif;
	text-align: left;
}

.contacts a
{
	font-weight: bold;
	text-decoration: underline;
	color: grey;
}

