@charset "UTF-8";
/* CSS Document */

/* Nav */

.nav
{
    display: block;
	vertical-align: top;
	position: fixed;
	top: 8%;
	left: 0px;
	
	z-index: 1;
	
    width: 100%;
	height: 8%;
	min-height: 0px;
	
	background-color: rgba(255,255,255, 0.95);
}

.nav_menu
{
	display: none;
	position: absolute;
	top: 100%;
	left: 5%;
	list-style: none;
	list-style-type: none;
	padding: 0px;
    margin: 0px;
	
	width: 90%;
	height: 700%;
	min-height: 100px;
	
	border: black 5px solid;
	border-radius: 5px 0 5px 5px;
	
	text-align: center;
}

.nav_elements
{
	display: block;
	margin: 0px;
	padding-right: 0%;
	height: 16.65%; /* automatically set with js */
	
	text-align: center;
	color: black;
	
	background-color: #FFF;
	-webkit-transition: background-color 0.75s, color 0.75s;
    transition: background-color 0.75s, color 0.75s;
}

#nav_elementSelected_Home
{
	font-size: 1.2em;
	padding-right: -0.4em;
	color: rgb(58,21,128);
}
#nav_elementSelected_Projects
{
	font-size: 1.2em;
	padding-right: -0.4em;
	color: rgb(35,96,2);
}

#nav_elementSelected_Graphic
{
	font-size: 1.2em;
	padding-right: -0.4em;
	color: rgb(140,103,2);
}

#nav_elementSelected_Blog
{
	font-size: 1.2em;
	padding-right: -0.4em;
	color: rgb(120,5,9);
}

#nav_elementSelected_CV
{
	font-size: 1.2em;
	padding-right: -0.4em;
	color: rgb(87,25,82);
}

#nav_elementSelected_Contacts
{
	font-size: 1.2em;
	padding-right: -0.4em;
	color: rgb(96,96,124);
}

.nav_elements.nav_toHome:hover {
	background-color: rgb(230,246,255);
	color: rgb(58,21,128);
}

.nav_elements.nav_toProjects:hover {
	background-color: rgb(218,255,222);
	color: rgb(35,96,2);
}

.nav_elements.nav_toGraphic:hover {
	background-color: rgb(255,255,224);
	color: rgb(140,103,2);
}

.nav_elements.nav_toBlog:hover {
	background-color: rgb(255,207,213);
	color: rgb(120,5,9);
}

.nav_elements.nav_toCV:hover {
	background-color: rgb(255,206,251);
	color: rgb(87,25,82);
}

.nav_elements.nav_toContacts:hover {
	background-color: rgb(231,231,231);
	color: rgb(96,96,134);
}

#nav_pageIndicator_Home		{color: rgb(58,21,128);}
#nav_pageIndicator_Projects	{color: rgb(35,96,2);}
#nav_pageIndicator_Graphic	{color: rgb(140,103,2);}
#nav_pageIndicator_Blog		{color: rgb(120,5,9);}
#nav_pageIndicator_CV		{color: rgb(87,25,82);}
#nav_pageIndicator_Contacts	{color: rgb(96,96,134);}

.nav_elements_VA
{
	display: inline-block;
	vertical-align:middle;
	margin: 0px;
	height: 100%;
	width: 0px;
}

.nav_elements h2
{
	display: inline-block;
	vertical-align:middle;
	margin: 0px;
	padding: 0px;
	
	text-decoration: none;
	
	font-size: 2.4em;
	font-style: normal;
	
	font-family: 'Biko', 'Franchise', Arial, Verdana, sans-serif;
	src: url('../fonts/biko/Biko_Regular.otf') format('otf');
	src: url('../fonts/Franchise-Bold.ttf') format('ttf');
}

/* Mobile */

.nav_mobile
{
	display: block;
	width: 100%;
	height: 100%;
	text-align: left;
}

.nav_mobile_VA
{
	display: inline-block;
	vertical-align: middle;
	margin: 0px;
	height: 100%;
	width: 3%;
	z-index: 1000;
}

#nav_icon
{
	display: inline-block;
	vertical-align: middle;
	width: 8%;
	background: #F3F3F3 center;
	border-radius: 5px 5px 5px 5px;
}

.nav_pageIndicator
{
	display: inline-block;
	vertical-align: middle;
	margin: 0px;
	margin-left: 0.6em;
	padding: 0px;
	font-size: 2.4em;
	color: black;
	
	font-family: 'Biko', 'Franchise', Arial, Verdana, sans-serif;
	src: url('../fonts/biko/Biko_Regular.otf') format('otf');
	src: url('../fonts/Franchise-Bold.ttf') format('ttf');
}

.nav:hover #nav_icon
{
	background-color: #7C7C7C;
	border-radius: 0px 0px 0px 0px;
}

.nav:hover .nav_menu
{
	display: block;
}


