@charset "UTF-8";


:root {
    --main-txt-color: DARKBLUE;
    --main-bg-color: WHITESMOKE;
}

/* CSS Document */

.global
{
	overflow-y: scroll;
    background: var(--main-bg-color);
}

/******************************************************************************************/
/* Head */

.head
{
	display: flex;
	position: fixed;
    align-items: flex-end;
    justify-content: flex-start;
    
	width:	100%;
	height: 11%;
    top:0;
    left: 0;
    
	margin: 0px;
    padding: 0em;
    
	z-index: 1;
}

.head a
{
	text-decoration: none;
}

/******************************************************************************************/
/* The button used to open the sidebar */
#navButton
{
    flex: 1;
	display: flex;
    justify-content: center;
    
	margin: 0px;
    padding: 0;
    
    cursor: pointer;
    
    background-color: transparent;
    border: none;
}

#navButton h1
{
	font-size: 2.5em;
    font-weight: bold;
    line-height: 0.1em;
	text-decoration: none;
    
    color: var(--main-txt-color);
    transition: 2s;
}

#navButton:hover {
    color: black;
}

/******************************************************************************************/
/*title */
.headTitle
{
    flex: 11;
	display: flex;
    justify-content: center;
	padding: 0;
    margin: 0;
}

.headTitle h1
{
	padding: 0px;
	
	font-size: 2.5em;
    line-height: 0.2em;
	text-decoration: none;
	
	font-family: 'Helvetica', 'Biko', 'Franchise', Arial, Verdana, sans-serif;
	src: url('../fonts/biko/Biko_Bold.otf') format('otf');
	src: url('../fonts/Franchise-Bold.ttf') format('ttf');
    
    color: var(--main-txt-color);
    transition: 2s;
    
}


.headTitle h1:hover {
    color: black;
}


/******************************************************************************************/
/*title */
.headAbout
{
    flex: 2;
	display: flex;
    justify-content: center;
	padding: 0;
    margin: 0;
}

.headAbout h1
{
	padding: 0px;
	
	font-size: 1.5em;
    line-height: 0.5em;
	text-decoration: none;
	
	font-family: 'Helvetica', 'Biko', 'Franchise', Arial, Verdana, sans-serif;
	src: url('../fonts/biko/Biko_Bold.otf') format('otf');
	src: url('../fonts/Franchise-Bold.ttf') format('ttf');
    
    color: var(--main-txt-color);
    transition: 2s;
}


.headAbout h1:hover {
    color: black;
}

/******************************************************************************************/

.processingCanvas
{
    display: flex;
    position: fixed;
    align-self: center;
    top:-5px;
    left: -5px;
    margin: auto;
    
	z-index: 1;
    pointer-events: none;
    
    height: 12%;
	width: 105%;
    
    background-color: transparent;
    
    overflow: hidden;
    white-space: nowrap;
}

.backgroundProcessingCanvas
{
    flex: 1;
    display: flex;
    object-fit: cover;
    
	padding: 0px;
	margin: auto;
    
	border: none;
    border-style: none;
    text-decoration: 0;
    
}