@charset "UTF-8";


/*
@font-face {
font-family: 'Bebas Neue';
src: url('../../fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('ttf');
font-family: 'Lato';
src: url('../../fonts/Lato/Lato-Regular.ttf') format('ttf');
}
*/


:root {
    --main-txt-color: #d01d1d;TOMATO;
    --main-bg-color: WHITESMOKE;
    /*--main-font: 'Spartan', sans-serif;*/
    --main-font: 'Bebas Neue', cursive;
    --second-font: 'Lato', sans-serif;
}



/* CSS Document */

.global
{
	overflow-y: scroll;
    background: var(--main-bg-color);
}

/******************************************************************************************/
/* Head */

#head
{
	display: flex;
	position: fixed;
    align-items: center;
    justify-content: flex-start;
    
	width:	100%;
	height: 15%;
    top:0;
    left: 0;
    
	margin: 0px;
    padding: 0em;
    
	z-index: 1;
    
    background-color: var(--main-bg-color);
}

#head a
{
	text-decoration: none;
}

/******************************************************************************************/
/* The button used to open the sidebar */
#headNavBtn
{
    flex: 1;
	display: flex;
    justify-content: center;
    
	margin: 0px;
    padding: 0;
    
    cursor: pointer;
    
    background-color: transparent;
    border: none;
}

#headNavBtn h1
{
	font-size: 2.5em;
    font-weight: bold;
    line-height: 0.3em;
	text-decoration: none;
    
    color: var(--main-txt-color);
    transition: 2s;
}

#headNavBtn:hover {
    color: black;
}

/******************************************************************************************/
/*title */
#headTitle
{
    flex: 11;
	display: flex;
    justify-content: center;
	padding: 0;
    margin: 0;
}

#headTitle h1
{
	padding: 0px;
	
	font-size: 3.5em;
    line-height: 0em;
	text-decoration: none;
	
	font-family: var(--main-font);
    font-weight: bold;
    
    color: black;
    transition: 2s;
    
}

#headTitle h1:hover
{
    color: #eee;
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    animation-duration: 0.01s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#headTitle h1:hover {
    color: var(--main-txt-color);
}


/******************************************************************************************/
/*title */
#headAboutBtn
{
    flex: 2;
	display: flex;
    justify-content: center;
    vertical-align: middle;
	padding: 0;
    margin: 0;
    cursor: pointer;
    
}

#headAboutBtn h1
{
	padding: 0px;
	
	font-size: 1.8em;
    line-height: 0.4em;
	text-decoration: none;
	
	font-family: var(--main-font);
    
    color: var(--main-txt-color);
    transition: 2s;
}

#headAboutBtn h1:hover
{
    color: #eee;
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    animation-duration: 0.01s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



#headAboutBtn h1:hover {
    color: black;
}

/******************************************************************************************/

.processingCanvas
{
    display: flex;
    position: fixed;
    justify-content: center;
    align-self: center;
    
	z-index: 1;
    pointer-events: none;
    
    height: 15%;
	width: 100%;
    top:0px;
    left: 0px;
    margin: auto;
    
    background-color: transparent;
    
    overflow: hidden;
    white-space: nowrap;
}

.backgroundProcessingCanvas
{
    flex: 1;
    display: flex;
    
    
	padding: 0px;
	margin: auto;
    
	width: 100%;
    height: 100%;
    
	border: none;
    border-style: none;
    text-decoration: 0;
    
}