@charset "UTF-8";

/* CSS Document */

/* Nav */

/* The sidebar menu */
#sidebarNav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #333; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
#sidebarNav  a {
    display: block;
    
    padding: 0.3em;
    padding-left: 2em;
    
    color: #818181;
    
	font-family: var(--main-font);
    text-decoration: none;
    font-size: 1em;
    
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
#sidebarNav  a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
#sidebarNav  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
}

/***********************************************************************************************/
